<?xml version='1.0' encoding='utf-8'?>
<widget id="com.wasender.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>WASender</name>
    <content src="index.html" />

    <access origin="*" />
    <allow-navigation href="*" />
    
    <allow-intent href="whatsapp://*" />
    <allow-intent href="https://wa.me/*" />
    <allow-intent href="https://api.fonnte.com/*" />
    <allow-intent href="https://api.cloudinary.com/*" />

    <preference name="AndroidInsecureFileModeEnabled" value="true" />
    
    <config-file target="AndroidManifest.xml" parent="/*">
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
        <uses-permission android:name="android.permission.VIBRATE" />
    </config-file>
</widget>
